*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app{
    width: 300px;
    border-radius: 10px;
    background-color: rgb(145, 203, 221);
    display: flex;
    margin: 10px;
    align-items: center;
    align-content: center;
    flex-flow: column;
    position: relative;
    border: rgb(7, 170, 175) solid thin;
}
.sorted-number{
    max-width: 90%;
    width: fit-content;
    background-color: rgb(17, 216, 252);
    padding: 10px;
    font-size: 26px;
    border-radius: 5px;
    margin: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border:dashed rgb(3, 41, 83) 2px;
    
    
}

input{
    width: 50px;
    margin: 5px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.title{
    padding: 5px;
    background-color: rgb(245, 134, 94);
    margin: 5px;
    border-radius: 5px;
}

button{
    padding: 5px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
}
i{
    text-decoration: none;
    font-style: normal;
    padding: 5px;
    background-color: green;
    margin: 2px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

button:hover{
    background-color: burlywood;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

h1{
    font-size: 26px;
}